body {
  background: #c2ded1;
  font-family: 'Nunito', sans-serif;


}
#navbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#navbar .nav-link {
  color: white;

}
#navbar .nav-link:hover {
  color: rgb(203, 236, 18);
}
#navbar .navbar-brand {
color: black;
font-size: 1.5rem;

}